.au-badge {
    position: relative;

    .span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1px 6px;
        background-color: $color-radical-red;
        z-index: 1;
        border-radius: 25px;
        display: flex;

        label {
            font-size: 0.7rem;
            font-weight: $font-weight-medium;
            color: $color-white;
        }
    }
}