/*
 * BUTTON
 */

@mixin setAuButton($color, $color-hover, $bkg-color, $bkg-hover-color, $color-disabled: var(--color-white), $bkg-color-disabled: var(--color-disabled)) {
    .au-icon {
        fill: $color;
    }

    .au-button-element {
        // Wrapper
        background-color: $bkg-color;
        padding: 5px 25px;
        line-height: 1.5rem;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: color 0.3s ease,
                    background-color 0.3s ease;
        color: $color;

        span {
            position: absolute;
            background: $color;
            transform: translate(-50%, -50%);
            pointer-events: none;
            border-radius: 50%;
            animation: ripple 0.6s linear infinite;

            @keyframes ripple {
                0% {
                    width: 0;
                    height: 0;
                    opacity: 0.3;
                }

                100% {
                    width: 1000px;
                    height: 1000px;
                    opacity: 0;
                }
            }
        }

        &:not([au-loading]) {
            &:hover,
            &:active {
                color: $color-hover;
                background-color: $bkg-hover-color;
            }
        }

        &:focus {
            outline: none;
        }

        &[au-transparent] {
            background-color: transparent;
            color: $bkg-color;

            &:hover,
            &:active {
                color: $bkg-hover-color;
                background-color: transparent;
                border-color: $bkg-hover-color;
            }

            &:disabled {
                color: $bkg-color-disabled;
                background-color: transparent;
            }
        }

        &:disabled {
            color: $color-disabled;
            background-color: $bkg-color-disabled;
            box-shadow: none;
            pointer-events: none;
        }

        &[au-bordered] {
            border: solid 2px $bkg-color;
        }
    }
}

.au-button {
    display: inline-block;
    position: relative;

    .au-button-element {
        font-family: Inter, Helvetica;
        font-size: $font-size-regular;
        font-weight: $font-weight-medium;
        position: relative;
        overflow: hidden;
        user-select: none;
    }

    .au-icon {
        animation: button-spin 1s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 1s;
        pointer-events: none;

        &[au-loading] {
            opacity: 1;
        }
    }

    // Color prop
    &[au-color="primary"] {
        @include setAuButton($color-white, $color-white, $color-caribbean-green, $color-caribbean-green-hover);
    }

    &[au-color="hight"] {
        @include setAuButton($color-white, $color-white, $color-hight-contrast, $color-hight-contrast-hover);
    }

    // Transparent
    &[au-transparent] {
        .au-button-element {
            box-shadow: none !important;
        }
    }

    // Block
    &[au-block] {
        display: block;

        button {
            width: 100%;
        }
    }

    // Circle
    &[au-circle] {
        .au-button-element {
            border-radius: 50px !important;
        }
    }

    &[au-loading] {
        .au-button-element {
            color: transparent;
            cursor: default;
        }
    }
}