@mixin setAuNotificationColor() {
    .card {
        margin: 20px;
        max-width: 500px;
        min-width: 300px;
        background-color: $color-white;
        box-shadow: $color-border 0px 1px 10px 1px;
        border: solid 1px $color-border;
        border-radius: 4px;
        animation: au-notification-show 0.2s 0.2s;

        & > div {
            padding: 10px 20px;

            &:nth-child(1) {
                border-radius: 2px 2px 0 0;
                
                h6 {
                    color: $color-title;
                }
            }

            p {
                text-align: justify;
            }

            &:nth-child(3) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

.au-notification {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba($color-blur, 0.7);
    animation: au-notification-show 0.2s;
    z-index: 900;

    &[au-type="success"],
    &[au-type="warning"],
    &[au-type="error"],
    &[au-type="confirm"],
    &[au-type="info"] {
        @include setAuNotificationColor();
    }

    @keyframes au-notification-show {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
}