/*
 * COLORS
 */
:root {
    --color-white: #FFFFFF;
    --color-title: #191919;
    --color-paragraph: #515151;
    --color-placeholder: #888888;
    --color-blur: #FFFFFF;
    --color-border: #e4e4e4;
    --color-disabled: #D3D9E1;
    --color-background: #f5f8fe; //E6EEF9 ecedf2 f5f8fe
    --color-caribbean-green: #07D79C;
    --color-caribbean-green-hover: #02C38D;
    --color-hight-contrast: #20324A;
    --color-hight-contrast-hover: #141F72;
    --color-portage: #8B91DD;
    --color-radical-red: #F6576E;
    --color-warning: #ffe600;
    --color-confirm: #88009a;
    --color-dodger-blue: #2C7DFA;

    --color-default-normal-icon: #515151;
    --color-default-hover-icon: #07D79C;

    // Otros
    --color-egyptian-blue: #0F36A5;
    --color-midnight-blue: #141F72;
    --color-simply-red: #ff798d;
    --color-atomic-tangerine: #FF9041;
}

$color-white: var(--color-white);
$color-title: var(--color-title);
$color-paragraph: var(--color-paragraph);
$color-placeholder: var(--color-placeholder);
$color-blur: var(--color-blur);
$color-border: var(--color-border);
$color-disabled: var(--color-disabled);
$color-background: var(--color-background);
$color-caribbean-green: var(--color-caribbean-green);
$color-caribbean-green-hover: var(--color-caribbean-green-hover);
$color-hight-contrast: var(--color-hight-contrast);
$color-hight-contrast-hover: var(--color-hight-contrast-hover);
$color-portage: var(--color-portage);
$color-radical-red: var(--color-radical-red);
$color-warning: var(--color-warning);
$color-confirm: var(--color-confirm);
$color-dodger-blue: var(--color-dodger-blue);
$color-default-normal-icon: var(--color-default-normal-icon);
$color-default-hover-icon: var(--color-default-hover-icon);